* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ebf2ff;
    ;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f9fafc;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient(to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-weight: 600;
}

.button__primary:hover {
    border: 2px solid palevioletred;
    cursor: pointer;
}

.container {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}


.hero__container__image {
    width: 100%;
}

.hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px #7a96bd;
}

.hero__text {
    font-size: 30px;
    font-weight: 800;
    margin: 20px 0;
    color: #1d3557;
}

.food__items__container__heading {
    font-size: 25px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    color: #1d3557;
}

.item__card {
    background-image: linear-gradient(to bottom right,
    red,
    orange,
    yellow);
    border-radius: 6px 6px 0 0;
    box-shadow: 0 5px 10px -2px #4deeea;
}

.item__card__image {
    width: 100%;
}

.item__image {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.item__heading {
    font-size: 20px;
}

.item__card__text {
    padding: 20px;
}

.restaurant__container__heading {
    color: #1d3557;
    margin-top: 20px;
    font-size: 30px;
}

.row__1 {
    display: flex;
    align-items: last baseline;
    gap: 10px;
    margin: 10px 0 5px 0;
}

.row__2 {
    display: flex;
    gap: 10px;
    margin: 0 0 10px 0;
}

.restaurant__1 {
    width: 250px;
    height: 70px;
}

.restaurant__2 {
    width: 300px;
    height: 100px;
}

.restaurant__img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.email__heading__container {
    color: #1d3557;
    font-size: 30px;
    
}

.email__box {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.input__email {
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    border-radius: 4px;
    font-weight: 800;
    padding: 3px;
}

.quote__container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("assets/quote\ background.avif");
}

.quote__bg {
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: #0a4065;
    opacity: 50%;
    border-radius: 10px ;
}

.quote {
    color: white;
    z-index: 3;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%);
    border-radius: 10px 10px 0 0;
}

.footer__image {
    filter: brightness(0) invert(1);
}

ul {
    list-style: none;
    color: white;
    font-weight: 500;
    padding: 10px;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 40px;
    }

    .food__items__list {
        display: flex;
        gap: 10px;
    }

    #pizza {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    #icecream {
        margin-bottom: 20px;
    }

    .food__items__container {
        position: relative;
    }

    .food__items__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
            z-index: -3;
            transform: skewY(-3deg);
    }

    .restaurants__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .restaurant__details {
        width: 48%;
    }

    .email__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .email__heading__container {
        margin-top: 20px;
    }

    .input__email {
        width: 300px;
    }

    .email__box {
        gap: 10px;
        justify-content: center;
    }

    .quote__container {
        height: 300px;
        width: 100%;
    }

    .quote__bg {
        height: 300px;
        width: 100%;
    }

    .quote {
        font-size: 40px;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

}

@media (min-width: 1024px) {
    .container {
        max-width: 80%;
    }

    .navbar__brand {
        width: 150px;
    }

    .button__primary {
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .hero__description {
        width: 100%;
    }
}